---
import Button from "@components/ui/Button.astro";
---

<div class="boxText relative">
  <h1 class="fs-r-60 fw-900 line-normal">بدأ رحلتك مع سكوتي</h1>
  <p class="fs-18 mt-5 line-relaxed">
    استمتع بتجربة المدينة كما لم يحدث من قبل من خلال استئجار واحدة من دراجاتنا
    البخارية الأنيقة والصديقة للبيئة. سواء كنت تتنقل إلى العمل، أو تستكشف
    الجواهر المخفية، أو ببساطة تستمتع برحلة ممتعة، فإن دراجاتنا البخارية توفر
    وسيلة النقل المثالية لأي مناسبة.
  </p>
  <Button
    type="button"
    aria="انضم الينا"
    ClassName="btn-base mt-14  round-6 join-btn"
  >
    <a href="LoginIn.html" class="px-14 py-6 fs-18 fw-700">انضم الينا</a>
  </Button>
</div>
