---
//styles
import "@styles/plugins/AE.css";
import "../styles/scss/global.scss";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content="Astro description" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="favicon.svg" />
<meta name="generator" content={Astro.generator} />
<!-- Font preloads -->
<link rel="preload" href="/fonts/Sukar-black.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Sukar-Bold.woff2" as="font" type="font/woff2" crossorigin /> 
<link rel="preload" href="/fonts/SukarRegular.woff2" as="font" type="font/woff2" crossorigin /> 
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
