---

---
<nav class="pagination mx-auto">
    <ul class="d-flex items-center justify-around">
        <li><a href="#!">السابق</a></li>
        <li><a href="#!" class="active">1</a></li>
        <li><a href="#!">2</a></li>
        <li><a href="#!">3</a></li>
        <li><a href="#!">التالي</a></li>
    </ul>
</nav>